<h1>{{user.username}}'s profile</h1>


<div id="profile-info">
  <div id="movies-wrapper">
    <div id="fav-movies-wrapper">
      <p>Favorite Movies:</p>
      {{#each user.favoriteMovies}}
      <ul class="movie-delete-ul" >
        <li>{{this}}</li>
        <a class="clickable" href="/movie-api/delete-movie/{{this}}">Delete</a>
      </ul>
      {{/each}}
    </div>

  </div>
  <div class="api-wrapper">
    <h3>Actions:</h3>
    <a class="api" href="/movie-api/random-movies">Generate 20 random movies</a><br><br>
    <a class="api" href="/movie-api/trending-movies">See trending movies and shows</a>
    <br><br><br><br>
    <a class="api" href="/add-snack">Add Snacks</a><br>
  </div>

  <div id="snacks-wrapper">
    <p>Favorite Snacks:</p> 
    {{#each snacks}}
    <ul>
      <li>{{this.name}}</li>
      <form action="/auth/delete/{{this._id}}" method="POST">
        <button type="submit">Delete</button>
      </form>
    </ul>
    {{/each}}
  </div>
</div>




