<h1>{{this.title}}</h1>
<form method="POST" action="/movie-api/{{imdb_id}}">
  <button type="submit">Add To Favorites</button>
</form>

<div class="inline">
  <h4>Year: </h4>
  <p class="info"> {{year}}</p><br>
</div>

<div class="inline">
  <h4>Rating:</h4>
  <p class="info">{{imdb_rating}}</p><br>
</div>

<div class="inline">
  <h4>Runtime:</h4>
  <p class="info">{{runtime}} mins</p><br>
</div>

<div class="inline">
  <h4>Genres:</h4>
  {{#each genres}}
    <p class="info">{{this}}, </p>
  {{/each}}
</div>

<div class="inline">
  <h4>Starring:</h4>
  {{#each stars}}
    <p class="info">{{this}}, </p>
  {{/each}}
</div>

<br>
<br>
<a href="/auth/profile" class="clickable">Back to Profile</a>