<h1>MOVIE DEETS</h1>

<h3>{{this.title}}</h3>
<form method="POST" action="/movie-api/{{imdb_id}}">
  <button type="submit">Add To Favorites</button>
</form>

<h4>Year:</h4>
<p>{{year}}</p><br>

<h4>Rating:</h4>
<p>{{imdb_rating}}</p><br>

<h4>Runtime:</h4>
<p>{{runtime}} mins</p><br>

<h4>Genres:</h4>
{{#each genres}}
<p>{{this}}, </p>
{{/each}}

<h4>Starring:</h4>
{{#each stars}}
<p>{{this}}, </p>
{{/each}}

<a href="/auth/profile">Back to Profile</a>